body, h1, h2, h3, h4, h5, p{
    margin: 0px;
    padding: 0px;
}
*{
    transition: all .4s ease;
}
#post{
    padding: 100px 0px;
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.post-item{
    box-shadow: 0 0 3px gray;
    min-height: 425px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 15px;
    background-color: white;
    flex-wrap: wrap;
    cursor: pointer;
}
.post-item-image{
    height: 250px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
}
.post-item-image img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-position: center;   
    transition: all .6s linear; 
}
.post-item-date{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 3;
}
.post-item-date span{
    border-radius: 5px;
    display: block;
    padding: 3px 20px;
    background: rgb(131, 76, 3);
    color: white;
    text-align: center;
}
.post-item h3{
    font-family: "Poppins" , sans-serif;
    color: green;
    font-size: 1.7em;
    font-weight: 600;
    word-spacing: 5px;
    letter-spacing: 1px;
    padding: 10px 0px;
    cursor: pointer;
}
.post-item-info{
    padding: 15px 0px;
    border-top: 1px solid rgb(233, 208, 176);
    border-bottom: 1px solid rgb(233, 208, 176);
}
.post-item-info span{
    color: burlywood;
    margin-right: 40px;
}
.post-item-info span i{
    margin-right: 7px;
    color: rgb(180, 118, 36);
}
.post-item-img-overlay{
    width: 100%;
    height: 100%;
    background: rgba(131, 76, 3, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.logo img{
    height: 40%;
    object-fit: contain;
    position: absolute;
    top: 50px;
    z-index: 3;
    opacity: 0.0;
}
.post-item:hover{
    box-shadow: 0 0 5px black;
}
.post-item h3:hover{
    color: rgb(180, 118, 36);
}
.post-item:hover .post-item-img-overlay{
    background: rgba(131, 76, 3, .6);
    transform: scaleY(-1);
}
.post-item:hover .logo img{
    height: 50%;
    opacity: 1.0;
}
.post-item:hover .post-item-image img{
    transform: scale(1.1);
}