{% extends 'base.html' %}

{% block basePage %}

<div class="row">
    <div class="col-lg-6" style="margin: 0px auto;">
        <div class="card">
            <div class="card-body">
                <div class="blog-card">
                    <img src="../../static/uploads/{{derman.img}}" alt="" class="img-fluid" />
                    <h4 class="my-3">{{derman.derman_adi}}</h4>
                    <hr class="hr-dashed">
                    <div class="d-flex justify-content-between">
                        <div class="meta-box">
                            <div class="media">
                                <div class="media-body align-self-center text-truncate">
                                    <h6 class="mt-0 mb-1 text-dark">Barkod: {{derman.barkod}}</h6>
                                </div>
                                <!--end media-body-->
                            </div>
                        </div>
                        <!--end meta-box-->
                        <div class="align-self-center">
                            <h6 class="mt-0 mb-1 text-dark">İç Sayı: {{derman.ich_sayi}}</h6>
                        </div>
                    </div>
                    <p class="text-muted">{{derman.d_textarea}}</p>
                </div>
                <!--end blog-card-->
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>

{% endblock %}