body{
    margin: 0px;
    
}
#page{}

#grey{
    width: 600px;
    height: 46px;
    background-color: darkgrey;
    margin: 0px auto;
    display: flex;
}

#logo{
    width: 58px;
    height: 40px;
    color: white;
    display: inline-block;
    margin: 3px 0px 0px 20px;
    border: 1px solid black;
}

.five-text{
    width: 315px;
    height: 46px;
    display: inline-block;
    margin: 0px 0px 0px 200px;
    border: 1px solid black;
}

.fivetextplace{
    width: 58px;
    height: 40px;
    display: inline-block;
    margin: 3px auto;
    color: white;
    border: 1px solid black;
}
.light-grey{
    background-color: lightgrey;
    height: 250px;
    width: 600px;
    margin: 0px auto;
    
}
.tex-Mauris{
    width: 160px;
    height: 40px;
    background-color: lime;
    display: inline-block;
    margin: 30px 250px;
    
}