#mavi{
    width: 900;
    height: 200;
    background-color: blue;
}
#qirmizi{
    width: 900;
    height: 200;
    background-color: red;
}
#yasil{
    width: 900;
    height: 200;
    background-color: green;
}