{% extends 'base.html' %}

{% block basePage %}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="blog-card">
                    <img src="../static/assets/images/small/img-9.jpg" alt="" class="img-fluid" />
                    <h4 class="my-3">Dermanın adı tam etraflı burada olsun</h4>
                    <p class="text-muted">DDərman haqında uzun uzadi ətraflı məlumatlar burada öz əksini tapcaqlar...</p>
                    <hr class="hr-dashed">
                    <div class="d-flex justify-content-between">
                        <div class="meta-box">
                            <div class="media">
                                <div class="media-body align-self-center text-truncate">
                                    <h6 class="mt-0 mb-1 text-dark">Barkod</h6>
                                </div>
                                <!--end media-body-->
                            </div>
                        </div>
                        <!--end meta-box-->
                        <div class="align-self-center">
                            <h6 class="mt-0 mb-1 text-dark">İç Sayı: 30 Tabletka</h6>
                        </div>
                    </div>
                </div>
                <!--end blog-card-->
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
{% endblock %}