{% extends "base.html" %}

{% block basePage %}
<style>
    table {
        counter-reset: rowNumber;
    }

    table tr>td:first-child {
        counter-increment: rowNumber;
    }

    table tr td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }
</style>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Yeni Dərman Yarat</h4>
                <p class="text-muted mb-3">Yaradılan hər yeni dərman, aşağıdakı "Dərmanlar Siyahısı" -na əlavə olunur.
                </p>
                <form action="/dermanlar" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="barcode">Barkod</label>
                                <input type="number" class="form-control" name="barcode">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="username">Dərman</label>
                                <input type="text" class="form-control" name="derman_name" required=""
                                    placeholder="Dərmanın adı">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Tərkibi</label>
                            <select name="terkib" class="form-control">
                                <option selected="">Ədəd</option>
                                <option >Kanvalyut</option>
                                <option >Flakon</option>
                                <option >Sprey</option>
                                <option >Sirop</option>
                                <option >Tabletka</option>
                                <option >Ampula</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="date">Son istifadə tarixi</label>
                                <input type="date" class="form-control" name="end_date">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Əsas ölçü vahidi</label>
                            <select name="vahid" class="form-control">
                                <option selected="">Qutu</option>
                                <option>Ədəd</option>
                                <option>Kanvalyut</option>
                                <option>Flakon</option>
                                <option>Sprey</option>
                                <option>Sirop</option>
                                <option>Tabletka</option>
                                <option>Ampula</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="count">İç Sayı</label>
                                <input type="number" class="form-control" name="ichsayi" required="" placeholder="0">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message">Əlavə qeyd yeri</label>
                                <textarea class="form-control" rows="3" name="message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="file" name="img">
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-gradient-primary px-5 py-2">Əlavə et</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div> <!-- end row -->
</div>
<!--end page-title-box-->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="mt-0 header-title">Dərmanların Siyahısı</h4>
                <p class="text-muted mb-3"> Burda mövcud dərmanlara baxmaq mümkündür.</p>

                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap"
                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>S/n</th>
                            <th>Barkod</th>
                            <th>Dərman adı</th>
                            <th>Tərkibi</th>
                            <th>Ölçü vahidi</th>
                            <th>İç sayı</th>
                            <th>Son tarix</th>
                            <th style="width: 140px;">Sil</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for derman in dermanlar %}
                        <tr>
                            <td></td>
                            <td>{{derman.barkod}}</td>
                            <td>{{derman.derman_adi}}</td>
                            <td>{{derman.terkib}}</td>
                            <td>{{derman.vahid}}</td>
                            <td>{{derman.ich_sayi}}</td>
                            <td>{{derman.tarix}}</td>
                            <td>
                                <a href="/d_delete/{{derman.id}}"><i class="dripicons-trash mx-2"></i></a>
                                <a href="/haqqinda/{{derman.id}}"><i class="mdi mdi-eye-circle mx-2"></i></a>
                                <a href="/d_yenile/{{derman.id}}"><i class="mdi mdi-pencil-outline mx-2"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% endblock %}