
#mavi{
    width: 900px;
    height: 200px;
    background-color: blue;
}

#qirmizi{
    width: 900px;
    height: 200px;
    background-color: red;
}

#yasil{
    width: 900px;
    height: 200px;
    background-color: green;
}